.slider{
    height: 300px;
    background-color: #32607F;
    width: 90%;
    display: flex;
    justify-self: start;
    margin: 0;
}
.slider a.nextButton {
    right: 0px;
}
.slider a.previousButton {
    left: 0px;
}
polygon{
    fill: white;
}
/* .slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
} */